header.home-header
  .menu-icon#menu-icon
    .icon-navicon
  .logo-wrapper
    img.logo(src=require("../../../resources/assets/logo/logo.svg"))
  .user-info
    .avatar-wrapper
      img.avatar(src=require("../../../resources/assets/os-icons/suse.png"))
    .more
      i.icon-angle-down
    ul.user-more
      li.more-item
        i.icon-id-card
        span.text Prifile
      li.more-item
        i.icon-sign-in
        span.text Sign out

  